@model WebProje.Models.Yol

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Yol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KalkisSehir" class="control-label"></label>
                <input asp-for="KalkisSehir" class="form-control" />
                <span asp-validation-for="KalkisSehir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VarisSehri" class="control-label"></label>
                <input asp-for="VarisSehri" class="form-control" />
                <span asp-validation-for="VarisSehri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KalkisZaman" class="control-label"></label>
                <input asp-for="KalkisZaman" class="form-control" />
                <span asp-validation-for="KalkisZaman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VarisZaman" class="control-label"></label>
                <input asp-for="VarisZaman" class="form-control" />
                <span asp-validation-for="VarisZaman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="YolEkle">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
