@model WebProje.Models.Havalemani

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Havalemani</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HavalemanininAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HavalemanininAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sehir)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Admin" asp-action="HavalemaniEkle">Back to List</a>
</div>
