@model WebProje.Models.Rezervasyon

@{
    ViewData["Title"] = "Yol Sec";
}

<h2>@ViewData["Title"]</h2>
@if (TempData["YolYok"] != null)
{
    <div class="alert alert-warning">
        @TempData["YolYok"]
    </div>
}
<form asp-action="YolAra" asp-controller="Rezervasyon" method="post">
    <div>
        <label asp-for="KalkisSehirId" class="control-label"></label>
        <select asp-for="KalkisSehirId" asp-items="ViewBag.KalkisSehirId" class="form-control">
            <option value="">-- Select Departure City --</option>
        </select>
    </div>
    <div>
        <label asp-for="VarisSehirId" class="control-label"></label>
        <select asp-for="VarisSehirId" asp-items="ViewBag.VarisSehirId" class="form-control">
            <option value="">-- Select Destination City --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Find Trips</button>
</form>