@model WebProje.Models.Sirket

@{
    ViewData["Title"] = "Delete";
    Layout = ViewBag.Layout;

}

<h1>Delete</h1>

<h3>Emin Misiniz?</h3>
<div>
    <h4>Sirket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SirketName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SirketName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SirketId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Admin" asp-action="SirketEkle">Back to List</a>
    </form>
</div>
