<div class="button-container">
    <a asp-controller="Rezervasyon" asp-action="Create" ><button class="custom-btn btn-3">Bilet Al</button></a>
    <a asp-controller="Rezervasyon" asp-action="List" ><button class="custom-btn btn-3">Biletlerim</button></a>
</div>