@model WebProje.Models.Ucak

@{
    ViewData["Title"] = "Delete";
    Layout = ViewBag.Layout;

}

<h1>Delete</h1>

<h3>Emin Misiniz?</h3>
<div>
    <h4>Ucak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Admin" asp-action="UsucEkle">Back to List</a>
    </form>
</div>
