@model WebProje.Models.Ucak

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ucak</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoltukSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoltukSayisi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Admin" asp-action="UcusEkle">Back to List</a>
</div>
